@media screen and (min-width: 768px) {
    .title {
            padding-top: 118px;
            padding-bottom: 118px;
            height: 400px;
            
            background: $foot-title-bg-color;
    
            background-image: linear-gradient(to right,
                    rgba(47, 48, 58, 0.4),
                    rgba(47, 48, 58, 0.4)),
                url(../../images/fon-hed.jpg);
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
        }
    
        .title__hero {
            padding-bottom: 30px;
            width: 360px;
            margin-right: auto;
            margin-left: auto;
    
            color: $title-text-color;
    
            font-weight: 900;
            font-size: 26px;
            line-height: 1.61;
            text-align: center;
            letter-spacing: 0.06em;
            text-transform: uppercase;
        }
        .page-buttons {
            border-radius: 4px;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
            border: $secondary-color;
            padding: 10px 32px;
            margin-left: auto;
            margin-right: auto;
    
            background-color: $secondary-color;
            color: $title-text-color;
    
            font-family: inherit;
            font-weight: $font-title;
            font-size: 16px;
            line-height: 1.88;
            display: flex;
            align-items: center;
            text-align: center;
            letter-spacing: 0.06em;
            cursor: pointer;
        }
        .form-data__button {
            padding: 10px 56px;
        }
        .backdrop {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.2);
            ;
            opacity: 1;
            visibility: visible;
    
            transition: 250ms $timing-function;
    
            &.is-hidden {
                visibility: hidden;
                opacity: 0;
                pointer-events: none;
            }
    
            &.is-hidden .backdrop__modal {
                transform: translate(-50%, -50%) scale(0.9);
            }
        }
        .backdrop__modal {
            position: absolute;
            top: 50%;
            left: 50%;
    
            width: 450px;
            height: 609px;
    
            background-color: $title-text-color;
    
            border-radius: 4px;
    
            transform: translate(-50%, -50%) scale(1);
            transition: transform 250ms $timing-function;
        }
    
        .backdrop__close {
            position: fixed;
            top: 8px;
            right: 8px;
            padding: 0;
            margin: 0;
            width: 30px;
            height: 30px;
    
            fill: $logo-color;
    
            transition-property: fill 250ms $timing-function;
    
            &:hover,
            &:focus {
                fill: $secondary-color;
                cursor: pointer;
            }
        }
    
        .backdrop__icon {
            display: block;
            position: absolute;
            margin: auto;
    
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
        }
        .form-data {
            padding: 40px;
        }
    
        .form-data__head {
            font-weight: $font-title;
            font-size: 20px;
            line-height: 1.5;
            text-align: center;
            letter-spacing: 0.03em;
    
            color: $primary-text-color;
            margin-bottom: 12px;
        }
    
        .form-data__label {
            position: relative;
            margin-bottom: 4px;
    
            font-size: 12px;
            letter-spacing: 0.01em;
            color: $paragraph-text-color;
        }
    
        .form-data__field {
            position: relative;
            margin-bottom: 10px;
            display: flex;
            flex-direction: column;
            cursor: pointer;
    
            & textarea::placeholder {
                font-size: 12px;
                line-height: 14px;
                letter-spacing: 0.01em;
    
                color: $placeholder-color;
            }
        }
    
        .form-data__input {
            height: 40px;
            border: 1px solid $form-input-color;
            border-radius: 4px;
            padding-left: 42px;
            outline: 0;
    
            transition-property: border 250ms $timing-function;
    
            &:focus {
                border: 1px solid $secondary-color;
            }
    
            &:focus+.form-data__icon {
                fill: $secondary-color;
            }
        }
    
        .form-data__icon {
            position: absolute;
            width: 18px;
            height: 18px;
    
            margin-left: 12px;
            bottom: 50%;
            transform: translateY(50%);
    
    
            transition-property: fill 250ms $timing-function;
        }
    
    
        .form-data__comment {
            padding: 12px 16px;
            border: 1px solid $form-input-color;
            border-radius: 4px;
            height: 120px;
            outline: 0;
    
            transition-property: border 250ms $timing-function;
    
            &:focus {
                border: 1px solid $secondary-color;
            }
        }
    
        .form-check {
            margin-top: 20px;
            margin-bottom: 30px;
            text-align: center;
        }
    
        .form-check__label {
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 12px;
            line-height: 1.16;
            color: $paragraph-text-color;
        }
    
        .form-check__link {
            color: $secondary-color;
        }
    
        .form-check__checkbox {
            position: absolute;
            width: 1px;
            height: 1px;
            margin: -1px;
            border: 0;
            padding: 0;
            clip: rect(0 0 0 0);
            overflow: hidden;
    
            &:checked+.form-check__icon {
                background-color: $secondary-color;
                background-origin: border-box;
                border-color: $secondary-color;
            }
        }
    
        .form-check__icon {
            width: 16px;
            height: 15px;
    
            border: 2px solid $primary-text-color;
            border-radius: 2px;
    
            margin-right: 7px;
        }
}