@media screen and (min-width: 1200px) {
    .client {
            display: flex;
            justify-content: center;
            text-align: center;
        }
    
        .client__title {
            font-size: 36px;
            line-height: 1.16;
            text-align: center;
            margin-bottom: 50px;
        }
    
        .client__list {
            margin-right: 30px;
    
            &:nth-last-child(1) {
                margin-right: 0;
            }
        }
    
        .client__link {
            width: 170px;
        }
}