@media screen and (min-width: 1200px) {
                .contacts {
                    display: flex;
                }
        
                .contacts__item+.contacts__item {
                    margin-left: 30px;
                }
        
                .contacts__link {
                    padding-top: 32px;
                    padding-bottom: 32px;
                }
        .nav__menu,
        .nav__modal {
            display: none;
        }
}