@media screen and (min-width: 1200px) {
    .quality {
            display: flex;
            flex-wrap: wrap;
        }
    
        .quality__item {
            margin-right: 30px;
            width: 270px;
    
            &:nth-child(4n) {
                margin-right: 0;
            }
        }
        .quality__icon {
            width: 270px;
        }
}

@media screen and (min-width: 1200px){
    .projects {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }
    
        .section--indent {
            padding-top: 0;
            padding-bottom: 94px;
        }
    
        .projects__item {
            position: relative;
        }
    
        .projects__description {
            position: absolute;
            width: 370px;
            height: 70px;
            bottom: 0;
    
            background-color: $project-bg;
        }
    
        .projects__title {
            padding: 27px 0;
            font-weight: $font-title;
            font-size: 14px;
            line-height: 1.14;
            text-align: center;
            letter-spacing: 0.03em;
            text-transform: uppercase;
            color: $title-text-color;
        }
}
