@media screen and (min-width: 1200px) {
    .title {
            padding-top: 200px;
            padding-bottom: 200px;
    
            height: 600px;
            max-width: 1600px;
            margin-left: auto;
            margin-right: auto;

            background-image: linear-gradient(to right,
                        rgba(47, 48, 58, 0.4),
                        rgba(47, 48, 58, 0.4)),
                    url(../../images/des-header.jpg);
    @media (min-device-pixel-ratio: 2),
        (-webkit-min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            .title {
                background-image: linear-gradient(to right,
                        rgba(47, 48, 58, 0.4),
                        rgba(47, 48, 58, 0.4)),
                    url(../../images/des-header2x.jpg);
            }
        }
        }
    
        .title__hero {
            width: 696px;
            font-size: 44px;
            line-height: 1.36;
        }
    
    
        .backdrop__modal {
            width: 528px;
            height: 581px;
        }
    
        .form-data__head {
            line-height: 1.15;
        }
    
        .form-check__label {
            font-size: 14px;
            line-height: 1.71;
        }
}

